* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{ color:black

}
body {
    background-color: whitesmoke;
}

nav { background-color: rgb(39, 35, 35);}
header {
    border-top: 10px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(87, 99, 95);
    text-align: center;
    font-family: "Merriweather", serif;

}

h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 100px;
    text-align: left;
    font-family: "Merriweather", serif;
   color: greenyellow;

}
.azul {
    color: azure;

}

footer {
    background-color: black;
    ;
    text-align: left
}

.carousel-inner img {
    width: 100%;
    height: 350px ;
    object-fit: cover;
}

.parent {
  display: flex;
  gap: 20px;
}

.card {
  max-width: 300px; 
  margin: auto;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.2s ease-in-out;
   justify-content: center;
   align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 40px rgba(0, 0, 0, 0.29);
}

.card img{
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

.precio-viejo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nuevo-precio {
  text-decoration: line-through;
  color: gray;
}

.new-price {
  color: green;
  font-weight: bold;
}

.fab, .fas {
  margin-right: 5px;
  font-size: 20px;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  font-size: 16px; /* Ajusté el tamaño de fuente */
}

footer {
  background-color: black;
  text-align: center;
  padding: 20px; /* Agregué padding */
}


@media (max-width: 768px) {
  .parent {
    flex-direction: column;
  }
  .card {
    margin-bottom: 20px;
  }
}
